services:
# 일단 관리 서비스는 한개 : api
  api:
    build: . #현재 디렉토리의 Dockerfile로 이미지 빌드
    container_name: spotter-api
    env_file:
      - Backend/.env
    environment:
      - FASTTEXT_PATH=/models/cc.ko.300.bin
    ports: #컨테이너와 외부가 “네트워크로 접속”하기 위한 것
    # A:B라면 내 컴퓨터 A번 포트로 들어온 요청을 컨테이너 안 B번 포트로 전달한다
      - "8000:8000" 
    volumes: #컨테이너의 데이터를 컨테이너 밖에서도 “파일로” 접근하기 위한 것
    # A:B라면 내 컴퓨터의  A 폴더를 컨테이너 안 B에 연결한다
      - ./Backend/output:/app/Backend/output
      # Mount your FastText model file from local sync:
      - ./Backend/cc.ko.300.bin:/models/cc.ko.300.bin:ro
      # Mount your FastText model file from gcp sync:
      # - /models/cc.ko.300.bin:/models/cc.ko.300.bin:ro
    restart: unless-stopped
